[submodule "vim/vim/bundle/Vundle.vim"]
	path = vim/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "coding-standards"]
	path = coding-standards
	url = git@github.com:viastudio/coding-standards.git
[submodule "vim/vim/bundle/vim-javascript"]
	path = vim/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim/bundle/vim-jsx"]
	path = vim/vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
